@use "mixin";
@use "Functions";
$HW:110%;
$HH:80px;
$TCo:black;
$BGCHADE:#ffffff;
$BGCBTN:rgb(153, 214, 63);
$hoverAuto:true;
$BroderColor:black;
$BorderNO1NavBtn:solid $BroderColor 2px;
header{
    width: 110%;
    height: $HH;
    border: solid 1px $BGCHADE;
    background-color: $BGCHADE;
    position: relative;
    right: 2%;
    top: calc($HH / -9);
    h1{
        margin-left: 2%;
        max-width: 10%;
        z-index: 2;
        margin-right: auto;

    } 
}

nav{
  width: 75%;
  height: 100%;
  position: absolute;
  left: 20%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  a{
    display: inline-block;
    padding: 10px 10px ;
    text-decoration: none;
    color:$TCo;

    font-size: 18px;    
        &:not(.Play ,.exploreC , .pppp12):hover {
            font-size: 20px;    
            text-decoration: underline;
        }
  }
}


.Play {
    $TCo:#ffffff;
    $BorderNO1NavBtn:solid rgba(30, 255, 0, 0) 0px;
    @include mixin.btnWithColor($BGCBTN , $TCo , $BorderNO1NavBtn);
}

.exploreC {
    $TCo:#ffffff;
    $BGCBTN:#ffb300;
    $BorderNO1NavBtn:solid rgba(30, 255, 0, 0) 0px;
    @include mixin.btnWithColor($BGCBTN , $TCo , $BorderNO1NavBtn);
}
.creategame{
    @include mixin.FlexCR;
    img{
        margin-left: 6px;
        width: 30px;
        height: 30px;
        @include mixin.Hover(1.3);
    }
}
.sing{
    $BGCBTN:#ffffff;
    background-color: $BGCBTN;
    $BroderColor:rgb(146, 236, 61);
    $BorderNO1NavBtn: solid $BroderColor 2px;
    @include mixin.btnWithColor($BGCBTN , $TCo , $BorderNO1NavBtn);
}

.Profile{
    width: 45px;
    height: 45px; 
    background-color: #ff9e01;   
    border-radius: 50%;
    @include mixin.Hover(1.2);
   img{
    width: 80%;
    height: 80%;
    position: relative;
    left: 10% ;
    top: 3px;
   }
   a{
    position: relative;
    bottom: 10%;
    left: -20%;
    color: #515050;
    font-size: 17px;
   }
  
  // @include mixin.MaxW(800px){
   // &{
                
    //}
  // };
   
}

