@use "mixin";
@use "Functions";
$HauteurDW:70vh;
$BGcolor1:#ffb300;
$Letruc: '.Rond';
$lechoisTop: -120px, 50px, -200px, 200px;
$lechoisLeft: 260px, -150px, 70%, 40%;

.Foreground1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: $HauteurDW;
    background-color: $BGcolor1;
    overflow: hidden;
}

.custom-shape-divider-bottom-1694543613 {
    position: absolute;
    top: $HauteurDW;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


.custom-shape-divider-bottom-1694543613 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 161px;
}

.custom-shape-divider-bottom-1694543613 .shape-fill {
    fill: $BGcolor1;
}

%Shape{opacity: .6; z-index: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    color: rgba(255, 255, 255 );

}
.titleQuizAbo
{
    @extend %Shape;
    color: rgba(255, 255, 255 , .6);
    font-size: 70px;
    top: 20% ;
    left: 15%;
}

.title2QuizAbo{
    @extend %Shape;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 2% ;
    left: 22%;
    z-index: 3;
}
.pubP{
    @extend %Shape;
    opacity: 0.7;
    word-wrap: break-word;
    max-width: 30%;
    top: 0% ;
    left: 18%;
    z-index: 2;
    a{
        opacity: 1;
        cursor: pointer;
    }
}
.price{
    font-size: 20px;
    text-decoration: underline;
}
.title3QuizAbo {
    position: relative;
    top: 0% ;
    left: 18%;
    z-index: 3;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
  a{
    color: black;
    text-decoration:none;
    span{
        font-size: 25px
    }
  }
}
@include mixin.forIV1Rond(4,$Letruc,$lechoisTop , $lechoisLeft);
