:root {
    --height_header: 150px;
    --height_main_min: 100vh;
    --height_footer: 200px;
}

body {
    display: grid;
    grid-template-rows: var(--height_header) minmax(var(--height_main_min), auto) var(--height_footer);
    grid-template-columns: 100%;
}

header,
main,
footer {
    grid-column: 1/2;
}

header {
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

main {
    grid-row: 2/3;
    width: 100%;
    height: 100%;
}

footer {
    grid-row: 3/4;
    width: 100%;
    height: 100%;
}