@use "mixins";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.main_head {
    width: 100%;
    height: auto;
    padding-top: 5px;

    figure {
        position: relative;
        @include mixins.WH100();

        &>div {
            padding-top: 20px;
            @include mixins.WH100();

            img {
                @include mixins.WH100();


            }
        }


        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            @include mixins.WH100();
            padding: 50px;

            @include mixins.flex_center();

            .Conaier {

                @include mixins.WH100();
                display: flex;
                flex-direction: column;
                align-items: safe;
                justify-content: end;

                .textContainer {

                    h2,
                    p {
                        color: white;
                    }

                    h2 {
                        font-weight: 900;
                        font-size: clamp(1rem, 2.5vw, 2.5rem);

                    }

                    & p {
                        font-weight: 0;
                        font-size: clamp(.7rem, 2.5vw, 1.2rem);

                    }

                    width: 100%;
                    height: fit-content;
                }

                .btn {
                    margin-top: 50px;
                    width: 100%;
                    height: 50px;

                    a {
                        background-color: white;
                        width: 150px;
                        height: 10px;
                        padding: 10px;
                        padding-left: 20px;
                        padding-right: 20px;
                        text-decoration: none;
                        font-size: 20px;
                        border-radius: 50px;
                    }


                }
            }
        }
    }
}


.Container {
    margin-top: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 0px;


    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 50px;

    article {
        height: fit-content;
        width: 100%;

        ul {
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            list-style-type: none;
            gap: 20px;

            li {
                position: relative;

                min-width: 500px;
                height: fit-content;
                cursor: pointer;

                figure {
                    position: relative;
                    width: 100%;
                    height: fit-content;

                    .img {
                        width: 100%;
                        height: fit-content;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }


                }


            }
        }

    }
}


.basique {
    figure {
        figcaption {
            margin-top: 10px;
            width: 100%;
            height: 50px;

            font-weight: 600;
            font-size: clamp(.7rem, 2.5vw, 1.5rem);
        }
    }
}

.Achat {
    figure {
        position: relative;

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;

            background-color: aqua;
            width: 100%;
            height: 50px;
            font-weight: 600;
            font-size: clamp(.7rem, 2.5vw, 1.5rem);
        }
    }
}

.params {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    margin-top: 20px;
    font-weight: 500;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.btns {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    button {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding: 10px;
        @include mixins.flex_center();

        img {
            width: 100%;
            height: auto;
        }

        transition:background .5s;

        &:hover {
            background-color: rgb(207, 207, 207);
        }
    }

}