@mixin flex_center() {
    & {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@mixin flex_center_Colums() {
    & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@mixin minmaxLogo($min , $current, $max) {
    & {
        min-width: $min;
        width: $current;
        max-width: $max;
        height: auto;
    }
}

@mixin WH100() {

    width: 100%;
    height: 100%;

}